# Virtual Environment
.venv/
venv/

# Python Cache
__pycache__/
*.pyc
*.pyo

# Data files (raw data GitHub par nahi jani chahiye)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Environment variables (agar API keys waghera store karein)
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log